<div class="container container-fluid page-container">
  <div class="row">
    <div class="col-lg-12">

      <div class="alert alert-success">
        <h4>Gönderiniz Kaydedildi</h4>
        <p>Gönderiniz onaylandıktan sonra yayınlanacaktır.</p>
        <p><%= link_to "Anasayfa", root_path, class: "btn btn-primary" %></p>
      </div>

    </div>
  </div>
</div>